body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: linear-gradient(to right, #f8cdda, #1d2b64); 
  color: #222;
}

header {
  background:#000000;;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background: #333;
  flex-wrap: wrap;
}

nav ul li {
  margin: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none; 
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover {
  background: #ff9a9e;
  color: #111;
}

.section {
  display: none;
  padding: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.9);
  margin: 30px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.section.active {
  display: block;
}

.category {
  margin: 40px 0;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  justify-items: center;
}

.product-card {
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 220px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.product-card img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
}

.review {
  color: #f39c12;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form textarea {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

form button {
  background:  #1d2b64; 
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

form button:hover {
  background: #ff9a9e;
  color: black;
}

footer {
  text-align: center;
  background: #111; 
  color: white;
  padding: 20px;
  margin-top: 40px;
  border-top: 4px solid #ff7eb3;
}
